
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --bg-color-dark-blue: #001950;
    --bg-color-home-dark-grey: #38394B;

    --bg-color-yellow:#c3bb21;
    --bg-color-red:#c34646;
    --bg-color-dark-grey:#28292d;
    --bg-color-green: #55A445;
    --bg-color-destacados: #C96439;
    --bg-color-catalogo: #3D75EE;

    --lighter-grey: #D9D9D9;
    --white-grey: #F2F2F2;
    --bg-color-login: #ECECEC;

    --color-text-dark-grey: #38394B;
    --color-title-dark-blue: #2A3183;
    --color-text-blue: #3A42A4;

    --bg-color-light-purple: #8C90CA;
    --bg-color-purple: #837cb8;
    --bg-color-grey-purple: #5B5F8C;

    --bg-color-dark-dark-blue: #020742;

    --bg-color-dark-red: #D00003;

    --bg-color-hover-selection:#e5e5e5;

    --bg-color-red-light: #FF9999;
    
    --bg-color-blue:#4263AA;
    
    --bg-color-error:#FF9F91;
    --color-error-text:#591309;
}

body{
    background-color: var(--bg-color-dark-blue);
    font-family: Roboto, 'sans-serif';
    margin:0;
    padding:0;
}



