@import url("./global.css");

.body-container {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

main {
  background-color: var(--lighter-grey);
  padding: 0;
  flex: 1;
}

.pago-container {
  background-color: white;
  padding: 10px 1px;
  width: 80%;
  height: 70%;
  max-width: none;
  max-height: none;
  flex-direction: flex-start;
  border-radius: 20px;
  padding: 20px;
  margin: 30px;
  margin-top: 50px;
}

.pago-container h3 {
  font-size: 30px;
  text-align: center;
  width: 100%;
  font-weight: 600;
}

.texto-pago {
  line-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 20px;
  margin: 10px 0;
}

.texto-pago1 {
  line-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 18px;
  margin: 10px 0;
  font-weight: bold;
}

.c2 {
  flex: 1;
  display: flex;
}

.titulo-pago {
  display: block;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.alerta-pago {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  margin-top: 15px;
}

.alerta-pago img {
  width: 50px;
  height: 50px;
}

.lista-detalles {
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}

.botones {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

.btn-aceptar {
  background-color: var(--bg-color-dark-blue);
  border: var(--bg-color-dark-blue);
  cursor: pointer;
  border-radius: 20px;
  width: 130px;
  height: 40px;
  color: white;
  font-size: 22px;
}

@media (min-width: 770px) {
  .body-container {
    display: flex;
    flex-direction: column;
  }

  .catalogo-container {
    background-color: var(--lighter-grey);
    display: flex;
    gap: 20px;
    align-items: flex-start;
  }

  .sidebar {
    width: 250px;
    padding: 30px;
    background-color: white;
  }

  .pago-container {
    background-color: white;
    text-align: left;
    width: 90%;
    height: 80%;
    border-radius: 20px;
    padding: 20px;
    margin: 70px auto;
  }

  .pago-container h3 {
    font-size: 35px;
    text-align: center;
    width: 100%;
    font-weight: 600;
  }

  .c2 {
    flex: 1;
    display: flex;
  }

  .texto-pago {
    line-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 25px;
    margin: 10px 0;
  }

  .alerta-pago {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    margin-top: 15px;
    max-width: 700px;
    margin-left: 80px;
    padding-left: 180px;
  }

  .alerta-pago img {
    width: 50px;
    height: 50px;
    flex-shrink: 0;
  }

  .lista-detalles {
    line-height: 50px;
    font-size: 22px;
    font-weight: bold;
    margin-left: 80px;
    padding-left: 300px;
    margin: 30px;
  }

  .alerta-pago span,
  .alerta-pago p {
    font-size: 22px;
    line-height: 30px;
    flex: 1;
  }

  .botones {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
  }

  .btn-aceptar {
    background-color: var(--bg-color-dark-blue);
    border: var(--bg-color-dark-blue);
    cursor: pointer;
    border-radius: 30px;
    width: 160px;
    height: 45px;
    color: white;
    font-size: 22px;
    font-weight: bold;
  }
}
