@import url('./global.css');

:root{
    --bg-color-stock:#325cb8;
    --bg-clic-sinopsis:#ABABAB;
    --bg-color-enviar-resenia:#6094CF;
}


body{
    padding:0;
    margin:0;
    font-size: 1rem;
}

.body-container {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

main {
    background-color: var(--lighter-grey);
    padding: 0;
    flex: 1;
    display: flex;
    justify-content: center;
}

.producto-container {
    background-color: white;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    font-size: 1.2em;
    word-wrap: break-word;
    row-gap: 40px;
    padding: 70px;
}


.info-libro {
    display:flex;
    flex-direction: column;
    width: 100%;
}

.detalles-libro{
    display: flex;
    flex-direction: column;
    align-content:center;
    row-gap: 10px;
}


.detalles-libro p, .detalles-libro h3, .detalles-libro .calificacion{
    margin:0;
    text-align: center;
}

.detalles-libro p:first-child{
    font-weight: 400;
}

.p-publicacion, .p-no-paginas, .p-formato{
    font-weight: 400;
}

.p-stock, .p-precio, .p-editorial{
    font-weight: 700;
}


.p-stock{
    color: var(--bg-color-stock);    
}

.resenias-usuarios{
    display: flex;
    flex-direction: column;
    row-gap: 30px
}
    
.resenias-usuarios p{
    display: flex;
    align-content: center;
    column-gap: 10px;
}


.nombre-calificacion-usuario{
    font-weight: 700;
    color:var(--bg-color-dark-dark-blue);
    display: flex;
    flex-direction: column;
}

.nombre-calificacion-usuario span{
    display: flex;
    flex-direction: column;
}

.resenias-usuarios strong{
    align-content: center;
}

.resenia-container {
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    justify-content: center;
}

h2{
    margin: 0;
    font-size: 1.2rem;
}


.titulo-sinopsis-container{
    position: relative;
    cursor: pointer;
    background-color: var(--lighter-grey);
    border-radius: 15px;
    padding:10px 10px;
    transition-duration: 0.17s;
}

.titulo-sinopsis-container img{
    position: absolute;
    width: 30px;
    right: 10px;
    top:6px;
}


.input-checkbox{
    display: none;
}
.input-checkbox{
    display: none;
}

.resenia-container input:checked + .titulo-sinopsis-container{
    background-color: var(--bg-clic-sinopsis);
}

.resenia-container input:checked ~ .resumen{
    display: inline;
}

.separador-sinopsis, .separador-resenias{
    width: 100%;
    height: 10px;
    border-radius: 10px;
    display: none;
}

.separador-sinopsis{
    background-color:var(--bg-color-grey-purple);
}

.separador-resenias{
    background-color:var(--bg-color-stock);
}

.resumen{
    display: none;
}

.resumen p{
    text-align: justify;
    font-weight: 400;
}


.img-libro {
    width: 100%;
    max-width: 150px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    gap:20px;
}

.calificacion{
    display: flex;
    justify-content: center;
}

.calificacion p {
    margin:0;
    align-self: center;
    order:0;
}

.calificacion .estrella{
    display: flex;
    align-content: center;
    width: 30px;
    height: 30px;
    background-color: gold;
    order:1;

    clip-path: polygon(
        50% 0%, 
        61% 35%, 
        98% 35%, 
        68% 57%, 
        79% 91%, 
        50% 70%, 
        21% 91%, 
        32% 57%, 
        2% 35%, 
        39% 35%
    );

    filter: drop-shadow(1px 0 0 black)
          drop-shadow(-1px 0 0 black)
          drop-shadow(0 1px 0 black)
          drop-shadow(0 -1px 0 black);
}

.calificacion .estrella:last-child{
    background-color: white;

    filter: drop-shadow(1px 0 0 grey)
    drop-shadow(-1px 0 0 grey)
    drop-shadow(0 1px 0 grey)
    drop-shadow(0 -1px 0 grey);
}

.btn-agregar {
    background-color: var(--bg-color-dark-blue);
    color: white;
    border-color: var(--bg-color-dark-blue);
    border-radius: 10px;
    grid-column-start: 3;
    grid-column-end: 4;
    width: 170px;
    height: 40px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.btn-agregar:hover{
    cursor: pointer;
}

.btn-agregar-checkbox {
    display:none;
}

.nueva-resenia-container{
    display:none;
}

.form-nueva-resenia{
    display:grid;
    row-gap: 5px;
}

.resenia-container:has(.btn-agregar-checkbox:checked) .nueva-resenia-container{
    display: inline;
}

.span-cancelar-resenia{
    display: none;
}

.resenia-container:has(.btn-agregar-checkbox:checked) .span-cancelar-resenia{
    display: inline;
}

.resenia-container:has(.btn-agregar-checkbox:checked) .span-agregar-resenia{
    display: none;
}

#titulo-nueva-resenia{
    font-size: 1.1rem;
}

#contenido-nueva-resenia{
    font-size: 1.1rem;
    height: 200px;
}

.btn-enviar-resenia{
    background-color: var(--bg-color-enviar-resenia);
    color:white;
    font-size: 1.1rem;
    cursor:pointer;
    border:none;
    width: 50%;
    justify-self: end;
    padding: 6px 1px;
    border-radius: 10px;
}

.btn-agregar a{
   color:white;
   text-decoration: none;
}

.contenido-resenia-usuario{
    display: grid;
    grid-template-columns: 70% 30%;
    grid-auto-rows: auto;
    column-gap: 10px;
    row-gap: 20px;
}

.contenido-resenia-usuario p {
    margin:0;
}

.btn-ver {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-color: var(--bg-color-dark-dark-blue);
    border-radius: 10px;
    color: white;
    padding:5px 10px;
    cursor: pointer;
    text-align: center;
    align-self: start;
}

.span-ocultar{
    display: none;
}

.contenido-resenia-usuario input:checked + label{

    background-color: var(--bg-color-dark-grey);
    
}

.contenido-resenia-usuario input:checked + label .span-ocultar{
    display: inline;
}
.contenido-resenia-usuario input:checked + label .span-ver{
    display: none;
}

.titulo-resenia{

    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.contenido-resenia-ampliada{
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    text-align: justify;
    display: none;
}

.resenias-usuarios .calificacion{
    justify-content: left;
}

.contenido-resenia-usuario input:checked ~ .contenido-resenia-ampliada{
    display: inline;
}

contenido-resenia-usuario input:checked ~ .resumen{
    display: inline;
}

.resenia-usuario{
    display:flex;
    column-gap: 20px;
}


.resenia-usuario img{
    width: 40px;
    height: 40px;
}


.btn-ocultar {
    background-color: var(--bg-color-dark-blue);
    color: white;
    border-color: var(--bg-color-dark-blue);
    border-radius: 10px;
    width: 90px;
    height: 25px;
    font-size: 15px;
    align-self: left;
}

.btn-ocultar a{
    color: white;
    text-decoration: none;
}

.container-encabezado-resenia{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}


@media (min-width: 770px) {

    .body-container {
        display: flex;
        flex-direction: column;
    }

    .producto-container {
        display: flex;
        flex-direction: column;
    }

    .resenia-container {
        display: flex;
        flex-direction: column;
    }

    .info-libro {
        flex-direction: row;
        justify-content: space-between;
    }

    .detalles-libro div{
        justify-content: end;
    }

    .detalles-libro p{
        text-align: right;
    }

    .titulo-sinopsis-container{
        background-color: white;
        cursor: default;
    }

    .resenia-container input:checked + .titulo-sinopsis-container{
        background-color: white;
    }


    .titulo-sinopsis-container img{
        display:none;
    }

    h2{
        font-size: 1.5rem;
    }

    .separador-sinopsis{
        display: inline;
    }

    .separador-resenias{
        display: inline;
    }

    .resumen{
        display: inline;
    }

    .contenido-resenia-usuario{
        grid-template-columns:1fr 3fr;
    }

    .btn-ver{
        width: 100px;
    }

    .contenido-resenia-ampliada{
        margin-top: 10px;
    }

    .btn-agregar {
        width: 180px;
        height: 40px;
        font-size: 1.2rem;
        border:none;
    }


}