.body-container {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

main{
    background-color: var(--lighter-grey);
    padding: 0;
    flex: 1;
    display: flex;
    justify-content: center;
}

.c2 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 0;
}
.pago-container{
    background-color: white;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
    margin-bottom: 40px;
    border-radius: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.pago1{
    padding: 10px 40px;
    line-height: 1rem;
    width: 80%;
}


.pago1 span{
    font-weight: bold;
}

.pago-btns{
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: flex-end;
    gap: 10px;
}

.volver-btn, .pedido-btn{
    padding: 10px 30px;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    border: none;
    margin-top: 10px;
}

.volver-btn{
    background-color: var(--bg-color-dark-blue);
}

.pedido-btn{
    background-color: var(--bg-color-light-purple);
}

.guardar-btn:hover, .cancelar-btn:hover {
    background-color: var(--bg-color-dark-dark-blue);
}

.nav-users {
    order: 4 !important;
}
.nav-resenias {
    order: 2 !important;
}
.nav-pedidos {
    order: 3 !important;
}
.nav-pagos {
    order: 5 !important;
}
.nav-perfil {
    order: 1 !important;
}

.nav-links .users,
.nav-links .resenias,
.nav-links .pedidos,
.nav-links .payments,
.nav-links .catalogo,
.nav-links .carrito,
.nav-links .home,
.nav-links .user,
.nav-links .libros,
.nav-links .categorias,
.nav-links .editoriales,
.nav-links .autores {
    width: 60px !important;
    height: 60px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

nav > a .home {
    width: 60px !important;
    height: 60px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px !important;
}

nav {
    width: 100px;
    background-color: var(--bg-color-dark-blue);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
}

@media (min-width: 770px) {
    body {
        font-size: 1.4rem;
    }

    nav {
        width: 100%;
        height: 80px;
        flex-direction: row !important;
        justify-content: space-between !important;
        align-items: center !important;
        padding: 0 30px !important;
        position: fixed !important;
        top: 0;
        left: 0;
        z-index: 999;
    }

    nav > a:first-child,
    nav .home {
        margin-right: auto !important;
        margin-bottom: 0 !important;
        display: flex !important;
    }

    .nav-links {
        flex: 1 !important;
        display: flex !important;
        flex-direction: row !important;
        justify-content: flex-end !important;
        align-items: center !important;
        gap: 25px !important;
    }

    .nav-links li {
        width: auto !important;
        height: auto !important;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
    }

    .nav-links > li:not(.nav-perfil) img,
    .nav-links > li:not(.nav-perfil) .varios-icon {
        display: none !important;
    }

    /* Perfil */
    .nav-perfil {
        order: 999 !important;
        display: flex !important;
        margin-right: 30px;
        align-items: center !important;
        position: relative !important;
    }

    .nav-perfil img,
    .nav-perfil .user-icon {
        display: block !important;
        width: 45px !important;
        height: 45px !important;
        border-radius: 50%;
        object-fit: contain !important;
    }

    .nav-text {
        display: inline-block !important;
        font-size: 16px !important;
        font-weight: bold !important;
        color: white !important;
        white-space: nowrap !important;
    }

    main {
        margin-left: 0 !important;
        margin-top: 80px !important;
    }

    .body-container {
        flex-direction: column !important;
    }

    .pago-container{
        width: 70%;
    }

    .pago1{
        width: 90%;
    }

    .detalles-pago {
        font-size: 20px;
    }

    .pago-btns {
        flex-direction: row;
        width: 90%;
        justify-content: space-between;
        align-items: center;
        gap: 0;
    }



}