@import url('./global.css');
.nav-links li:nth-child(2) {
    order: 5;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100px;
    padding: 15px 0;
    background-color: var(--bg-color-dark-blue);
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.nav-btn {
    display: none;
}

.iniciar-sesion{
    display: block;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 8px 15px;
    cursor: pointer;
}

.home {
    cursor: pointer;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav img {
    width: 60%;
    height: 60%;
    object-fit: contain;
}

.user {
    cursor: pointer;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carrito {
    cursor: pointer;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.catalogo {
    cursor: pointer;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pedidos {
    cursor: pointer;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.users{
    cursor: pointer;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.payments{
    cursor: pointer;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.user:hover {
    background: none;
}

.user-icon {
    width: 30px;
    height: 30px;
    display: block;
}

.options-user {
    display: none;
    background-color: var(--lighter-grey);
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    color: black;
    padding: 10px;
}

.user-nombre {
    padding: 10px 15px;
    font-weight: bold;
    color: black;
    text-align: left;
}

.user-nombre p {
    margin: 0;
    font-size: 16px;
}

.separador {
    border-top: 1px solid black ;
    margin: 0;
}

.user-option {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    gap: 10px;
    text-align: left;
    background-color: var(--lighter-grey);
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.2s;
}

.user-option .option-icon {
    width: 20px;
    height: 20px;
}

.user-option p {
    color: black;
    font-size: 16px;
    margin: 0;
    flex-grow: 1;
}

.options-user div p {
    color: black;
    font-size: 14px;
}

.user-option:hover {
    background-color: var(--white-grey);
}

@media (min-width: 770px) {

    .nav-links li:nth-child(2) {
        order: 2;
    }

    .nav-links li:nth-child(3) {
        order: 3;
    }

    nav {
        flex-direction: row;
        width: auto;
    }

    .nav-links {
        flex-direction: row;
        gap: 1px;
    }

    .nav-btn {
        display: block;
        text-decoration: none;
        color: white;
        font-weight: bold;
        font-size: 20px;
        padding: 8px 15px;
        cursor: pointer;
    }

    .c-btn{
        background-color: var(--bg-color-catalogo);
        padding: 5px;
        border-radius: 20px;
        ;
    }

    .home {
        background-color: var(--bg-color-home-dark-grey);
        border-radius: 40%;
        cursor: pointer;
        width: 40px;
        height: 40px;
        margin-right: 15px;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 25px;
    }

    .home-icon, .user-icon, .carrito-icon {
        width: 60%;
        height: 60%;
        object-fit: contain;
    }

    .user {
        width: 90px;
        height: 90px;
    }

    .carrito {
        width: 50px;
        height: 50px;
    }

    .catalogo{
        display: none;
    }

    .pedidos{
        display: none;
    }

    .user{
        position: relative;

    }

    .user:hover > .options-user{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: 10px;
        min-width: 200px;
        z-index: 10;
    }


}

