@import url('./global.css');

.background {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 50px 0;
}

.container {
    background-color: var(--bg-color-login);
    display: flex; 
    flex-direction: column;
    align-items: center; 
    width: 400px; 
    border-radius: 40px; 
    position: relative; 
    padding: 30px 20px; 
    height: auto;
}

.arrow-container{
    margin-right: auto; 
}

.arrow-icon{
    height: 60px;
    width: 60px;
}

.user-icon{
    height: 130px;
    width: 130px;
}

.login-form {
    width: 80%; 
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-top: 30px;
}

.login-form label {
    display: block;
    margin-bottom: 10px;
    color: var(--color-text-dark-grey); 
    font-size: 1.1rem;
    width: 100%; 
    text-align: left; 
}

.login-form input[type="email"],
.login-form input[type="password"] {
    width: 100%; 
    padding: 10px;
    margin-bottom: 25px; 
    border: none;
    border-radius: 30px;
    background-color: white;
    outline: none; 
    font-size: 20px;
    color: var(--color-text-dark-grey)
}

.button {
    width: 60%; 
    padding: 5px;
    background-color: var(--bg-color-light-purple);
    color: white;
    border: none;
    border-radius: 30px; 
    cursor: pointer;
    font-size: 1.1rem;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: var(--bg-color-purple); 
}

.login-info-text {
    text-align: center;
    margin-top: 25px;
    color: var(--color-text-dark-grey);
    font-size: 1.1rem;
    line-height: 1.5;
}

.link {
    color: var(--bg-color-light-purple);
    text-decoration: none; 
    font-weight: bold;
}

.link:hover {
    text-decoration: underline;
}

.register-title{
    font-size: 1.1rem;
    color: var(--color-text-dark-grey);
    margin-bottom: 20px; 
}

.register-form {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-juntos-top {
    display: flex; 
    align-items: flex-end; 
    width: 100%;
    margin-bottom: 15px;
    gap: 10px; 
}

.form-nombres-principal {
    width: 50%; 
}

.form-foto-perfil {
    width: 50%; 
    display: flex;
    align-items: center; 
    gap: 10px; 
}

.perfil-icono-contenedor {
    height: 50px; 
    width: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0; 
    overflow: hidden; 
}

.perfil-imagen {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 50%;
}

.perfil-label-boton:hover {
    background-color: var(--bg-color-purple); 
}

.form-juntos {
    display: flex;
    flex-direction: row; 
    justify-content: space-between; 
    width: 100%;
    margin-bottom: 15px; 
    gap: 10px;
}

.form-apellido-paterno,
.form-apellido-materno {
    width: 50%; 
}

.form-individual {
    width: 100%;
    margin-bottom: 15px; 
}

.register-form label:not(.perfil-label-boton) {
    display: none;
}

.perfil-label-boton {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; 
    height: auto; 
    padding: 5px 10px; 
    background-color: var(--bg-color-light-purple);
    color: white;
    border-radius: 30px;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: 600;
    transition: background-color 0.3s;
}

.register-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 0px;
    border: none;
    border-radius: 30px; 
    background-color: white;
    outline: none;
    font-size: 1.1rem;
    color: var(--color-text-dark-grey);
    box-sizing: border-box;
    line-height: 1.8; 
}

.register-info-text{
    text-align: center;
    margin-top: 25px;
    color: var(--color-text-dark-grey);
    font-size: 1.1rem;
    line-height: 0.5;
}

input::placeholder,
textarea::placeholder {
    font-size: 1.1rem;
    padding-left: 5px; 
}


@media (min-width: 770px) {

    input::placeholder,
    textarea::placeholder {
        color: transparent; 
    }

    .container {
        width: 600px; 
    }

    .button {
        width: 50%; 
    }
    
    .register-form label {
        display: block !important;
        margin-bottom: 5px; 
        color: var(--color-text-dark-grey);
        font-size: 1.1rem; 
        width: 100%;
        text-align: left;
    }

    .form-juntos {
        gap: 10px; 
    }

    .form-apellido-paterno,
    .form-apellido-materno {
        width: 50%; 
    }
    
    .form-juntos-top {
        gap: 10px;
    }

    .form-nombres-principal {
        width: 50%; 
    }

    .form-foto-perfil {
        width: 50%;
        justify-content: flex-start;
        gap: 10px;
    }

    .register-form input {
        padding: 5px;
    }
}