@import url("./global.css");

body {
  margin: 0;
  padding: 0;
}

nav {
  width: 100px;
  background-color: var(--bg-color-dark-blue);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  position: fixed;
}

.nav-text {
  display: none;
}

.body-container {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

.c1 {
  flex-shrink: 0;
}

main {
  background-color: var(--lighter-grey);
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin-left: 100px;
}

.general-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.container-add-edition {
  background-color: white;
  width: 84%;
  max-width: none;
  border-radius: 30px;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-container h1 {
  margin: 0 0 30px 0;
  text-align: center;
  font-size: 2.2rem;
}

.form-add-edition {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.form-add-edition div {
  display: flex;
  flex-direction: column;
}

.form-add-edition input[type="text"] {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 1.2rem;
}

.buttons-cancel-add-edition {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  column-gap: 20px;
  margin-top: 40px;
}

.cancel-input,
.add-edition-input {
  padding: 10px 35px;
  border-radius: 40px;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
  color: white;
}

.cancel-input {
  background-color: var(--bg-color-dark-red);
}

.add-edition-input {
  background-color: var(--color-text-blue);
}

.nav-users {
  order: 4 !important;
}
.nav-resenias {
  order: 2 !important;
}
.nav-pedidos {
  order: 3 !important;
}
.nav-pagos {
  order: 5 !important;
}
.nav-perfil {
  order: 1 !important;
}

.nav-links .users,
.nav-links .resenias,
.nav-links .pedidos,
.nav-links .payments,
.nav-links .catalogo,
.nav-links .carrito,
.nav-links .home,
.nav-links .user {
  width: 60px !important;
  height: 60px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

nav > a .home {
  width: 60px !important;
  height: 60px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px !important;
}

@media (min-width: 770px) {
  main {
    margin-left: 0;
    margin-top: 1cap;
  }

  nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 100px;
    padding-right: 160px;
    background-color: var(--bg-color-dark-blue);
  }

  .nav-links {
    display: flex;
    flex-direction: row;
    gap: 25px !important;
  }

  nav > a .home {
    margin-bottom: 0 !important;
  }

  .general-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  body {
    margin: 0;
    padding: 0;
  }

  .body-container {
    flex-direction: column;
  }

  .nav-links {
    gap: 25px !important;
  }

  .nav-text {
    display: inline-block !important;
    font-size: 18px;
    font-weight: bold;
    margin-left: 8px;
    color: white;
  }

  .general-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .container-add-edition {
    background-color: white;
    width: 80%;
    max-width: none;
    border-radius: 30px;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .catalogo-icon,
  .users-icon,
  .payments-icon,
  .pedidos-icon {
    display: none;
  }

  .catalogo,
  .users,
  .payments,
  .pedidos {
    width: auto;
    display: flex;
    align-items: center;
  }

  .nav-users {
    order: 1 !important;
  }
  .nav-resenias {
    order: 2 !important;
  }
  .nav-pedidos {
    order: 3 !important;
  }
  .nav-pagos {
    order: 4 !important;
  }
  .nav-perfil {
    order: 5 !important;
  }
}
