.body-container {
    display: flex;
    flex-direction: row; 
    min-height: 100vh;
}

main{
    background-color: var(--lighter-grey);
    padding: 0;
    flex: 1;
    display: flex; 
    justify-content: center; 
}   

.c2 {
    flex: 1; 
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    padding-top: 0; 
}

.resenia-container{
    background-color: white;
    width: 70%; 
    display: flex;
    flex-direction: column;
    margin-top: 0; 
    margin-bottom: 40px;
    border-radius: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.resenia-item{
    padding: 10px 40px;
    line-height: 1rem;
    width: 80%;
}


.resenia-item span{
    font-weight: bold;
}

.resenia-btns{
    display: flex;
    flex-direction: row; 
    justify-content: center; 
    width: 90%; 
    padding: 30px 0;
    margin: 0 auto; 
    align-items: center; 
    gap: 30px;
}

.cancelar-btn, .guardar-btn{
    padding: 10px 30px;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    text-decoration: none; 
    cursor: pointer;
    text-align: center;
    align-self: center;
    border: none;
    margin-top: 10px;
}

.cancelar-btn{
    background-color: var(--bg-color-dark-red);
}

.guardar-btn{
    background-color: var(--bg-color-dark-blue);
    transition: background-color 0.3s ease;
}

.guardar-btn:hover {
    background-color: var(--bg-color-dark-dark-blue);
}

.detalles-resenia {
    background-color: var(--lighter-grey);
    padding: 10px;
    border-radius: 30px;
}

.comentario-box {
    width: 100%; 
    resize: vertical; 
}

@media (min-width: 770px) {

    .body-container {
        display: flex;
        flex-direction: column; 
    }

    .resenia-container{
        width: 70%; 
    }

    .resenia-item{
        width: 90%;
    }

    .detalles-resenia {
        background-color: white;
        padding: 10px;
        border-radius: 30px;
    }

}