@import url("./global.css");


.body-container {
    display: flex;
    flex-direction: row;
    min-height: 100vh;

}

nav {
  width: 100px;
  background-color: var(--bg-color-dark-blue);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  position: fixed;
  padding:0;
  margin:0;
}

main {
    flex: 1;
    margin-left: 100px;
    background-color: var(--lighter-grey);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.container-add-edition {
    background-color: white;
    width: 80%;
    max-width: 700px;
    border-radius: 30px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
    padding: 0px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-container h1 {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 2.2rem;
    text-align: center;
    color: #222;
}

form {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    width: 100%;
}

form div {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

form label {
    font-weight: 500;
    font-size: 1.1rem;
}

form input,
form select {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    transition: all 0.2s ease-in-out;
    font-size: 1rem;
}

form input:focus,
form select:focus {
    border-color: var(--add-color);
    outline: none;
    box-shadow: 0 0 5px rgba(66, 99, 170, 0.3);
}

form button {
    align-self: flex-end;
    width: 40%;
    border: none;
    background-color: var(--bg-color-green);
    color: white;
    border-radius: 20px;
    padding: 8px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.3s;
}

form button:hover {
    background-color: rgb(39, 187, 147);
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

.product-image {
    width: 60%;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    object-fit: cover;
}

.container-icon-add-edition {
    cursor: pointer;
    background-color: var(--bg-color-dark-blue);
    border-radius: 8px;
    padding: 6px;
}

.container-icon-add-edition img {
    width: 30px;
    filter: invert(1);
}

.buttons-cancel-add-edition {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin-top: 30px;
}

.cancel-input,
.add-edition-input {
    font-weight: 500;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    padding: 10px 30px;
    color: white;
    transition: 0.3s;
}

.cancel-input {
    background-color: var(--bg-color-dark-red);
}

.add-edition-input {
    background-color: var(--color-text-blue);
}

.cancel-input:hover {
    background-color: var(--bg-color-red-light);
}

.add-edition-input:hover {
    background-color: var(--bg-color-catalogo);
}

@media (min-width: 770px) {
    body {
        font-size: 1.4rem;
    }

    nav {
        position: fixed;
        width: 100%;
        height: 80px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 1rem;
    }

    .nav-links {
        flex-direction: row;
        gap: 40px;
    }

    main {
        width: 100%;
        margin-left: 0;
        margin-top: 40px;
    }

    .c2 {
        flex: 1;
        display: flex;
    }

    .general-container {
        display: flex;
        flex-direction: column;
        width: 80%;
    }

    .libro-container {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    .container-add-edition {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        background-color: white;
        width: 100%;
        max-width: none;
        border-radius: 30px;
        box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
        padding: 50px;
        gap: 60px;
    }

    .image-container {
        width: 35%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .form-add-edition {
        width: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 25px;
    }
    
    .form-add-edition input{
        width: 100%;
        box-sizing: border-box;
    }

    .form-add-edition div {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        align-items: center;
        gap: 10px;
    }

    .form-add-edition label {
        text-align: right;
    }

    .seleccionar-libro {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .btn-seleccionar {
        width: 100%;
    }

    .form-add-edition .buttons-cancel-add-edition {
        display: flex;
        flex-direction: row;
        justify-content: end;
        margin-top: 20px;
    }

    .buttons-cancel-add-edition input {
        width: 25%;
        padding:5px 2px;
    }
    
    .buttons-cancel-add-edition a{
        width: 25%;
    }
    
    .buttons-cancel-add-edition a input{
        width: 100%;
    }
    
}
