
@import url('./global.css');


:root{
    --bg-color-container-options-product:#266BF0;
    --bg-color-container-option-product: #0F2B5E;
    --bg-color-container-option-product-hover: #000000;
}

body{
    margin:0;
    padding:0;
    font-size: 1.2rem;
}

.body-container {
    display: flex;
    flex-direction: row; 
    min-height: 100vh;
}

main{
    background-color: var(--lighter-grey);
    padding: 0;
    flex: 1;
}

.filtros{
    display: none;
}
    
.search-box {
    display:none;
}

.libros-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px; 
    padding: 20px;
    justify-items: center;
}

.libro {
    position: relative;
    background-color: white;
    padding: 10px 1px; 
    text-align: center;
    width: 100%;
    max-width: 160px;
    height: auto;
    min-height: 280px;
    justify-self: center; 
    border-radius: 15px;
    transition-duration: 0.2s;
    border: 1px solid black;
}

button:hover {
    cursor: pointer;
    background-color:var(--bg-color-hover-selection);
}

.options-product{
    display: none;
}


button:hover > .options-product{
    cursor:pointer;
    display: flex;
    background-color: var(--bg-color-container-options-product);
    flex-direction: column;
    padding: 6px;
    border-radius: 15px;
    row-gap: 10px;
    position: absolute;
    bottom:0;
    width: 100%;
    box-sizing: border-box;
}

.options-product a{
    background-color: var(--bg-color-container-option-product);
    border-radius: 10px;
    font-weight: 600;
    color:white;
    padding: 10px;
    border:none;
    cursor:pointer;
    text-decoration: none;
}

.options-product a:hover{
    background-color: var(--bg-color-container-option-product-hover);
    border-radius: 10px;
}


.libro h3 {
    font-size: 1em; 
    margin: 5px; 
    font-weight: 600;
    word-wrap: break-word; 
}

.libro img {
    width: 100%;
    max-width: 100px; 
    height: auto;
    display: block; 
    margin-left: auto;
    margin-right: auto;
}

.libro p {
    font-size: 0.9em;
    color: var(--color-text-dark-grey); 
}

.libro .precio {
    font-weight: bold;
    font-size: 1em;
}

.c2 {
    display: flex; 
    flex: 1; 
}

.catalogo-container{
    width: 100%;
    margin-top:15px;
    margin-left: 15px;
}
    

.options-lookup{
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.filtrar-btn{
    display: flex;
    flex-direction: row;
    width: 100px;
    height: 30px;
    background-color: white;
    border: none;
    padding: 15px;
    border-radius: 10px;
    text-decoration: none;
    color: black;
}

.search-filtros span{
    font-size: 20px;
    margin-left: 5px;
    align-self: center;
}

.search-filtros img{
    width: 20px;
    height: 20px;
    align-self: center;
}

.titulo{
    padding-left: 30px;
}

.btn-aplicar-filtros{
    display:none;
}

.libros-container{
    padding: 0;
}

.libro > a{
    text-decoration: none;
    color: black;
}

.button-add-container{
    display:flex;
    justify-content: end;
    margin-right: 30px;
    margin-bottom: 20px;
}

.button-add-container button{
    background-color: var(--bg-color-blue);
    color:white;
    border-radius: 20px;
    padding: 10px 10px;
    transition: all 0.2s ease-in-out;
    border:none;
    font-size: 1rem;
}

.button-add-container button:hover{
    background-color: var(--bg-color-catalogo);
}

@media (min-width: 770px) {
    .body-container {
        display: flex;
        flex-direction: column; 
    }

    .catalogo-container{
        background-color: var(--lighter-grey);
        display: flex; 
        gap: 20px; 
        align-items: flex-start; 
        width: 100%;
    }

    .sidebar {
        width: 250px; 
        padding: 30px;
        background-color: white;
        border-radius: 10px;
    }

    .filtros{
        display: block;
    }

    .search-box input::placeholder {
        color: grey;
    }

    .search-box {
        width: 100%; 
        display: flex; 
        justify-content: flex-start; 
        margin-bottom: 20px;
    }

    .search-box input {
        width: 100%; 
        padding: 10px 20px;
        flex-grow: 0; 
        border: 1px solid black;
        border-radius: 10px;
    }

    .search-filtros{
        display: none;
    }

    .filtros {
        margin-bottom: 25px;
    }

    .filtros h2 {
        font-size: 1.2em;
        font-weight: bold;
        margin-bottom: 10px;
        color: #333;
    }

    .filtros label {
        display: block; 
        margin-bottom: 5px;
        font-size: 0.9em;
        color: #555;
    }
    
    .libro {
        width: 220px; 
        height: 400px;
        max-width: 220px;
        min-height: 400px;
    }
    
    .libro h3 {
        font-size: 1.2em;
    }
    
    .libro img{
        width: 170px;
        max-width: 170px;
    }
    
    .libro p {
        font-size: 1em;
    }
    
    .libro .precio {
        font-size: 1.2em;
    }
    
    .area-total-container{
        width: 100%;
    }
    
    .libros-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    .options-lookup{
        padding: 0px;
    }

    button:hover > .options-product{
        bottom: -130px;
    }
    
    .btn-aplicar-filtros{
        display:block;
        background-color: var(--bg-color-dark-blue);
        color:white;
        border:none;
        border-radius: 10px;
        padding:8px 7px;
        cursor:pointer;
        font-size: 1.1rem;
    }
    
    .button-add-container{
        margin:0;
    }


}