
:root{

    --color-registered-container:#E3E3E3;
    --color-registered-container-hover:#ABABAB;
    --cancel-color:#C41818;
    --save-color:#0E1AA8;
    --add-color:#4263AA;
}

body{
    margin:0;
    padding: 0;
    font-size: 1.3rem;
    font-weight: 700;
}

main{
    display: flex;
    background-color: white;
    height: auto;
    min-height: 100vh;
}

input{
    font-size: 1.1rem;
}

.container-registered{
    margin: 5%;
    margin-left: 130px;
    display: flex;
    flex-direction: column;
    height: 90vh;
}

.title-search{
    display: flex;
    column-gap: 10px;
    align-items: center;
}

.search-bar{
    display: flex;
    position: relative;
    width: 100%;
}

.form-search{
    width: 100%;
    display: flex;
    
}

.search-bar button{
    background: none;
    border:none;
    padding:0;
}

.search-bar input{
    cursor: pointer;
    width: 30%;
    font-size: 1.3rem;
    margin-left: auto;
    border-radius: 30px;
    transition: width 0.3s ease-in-out;
    padding: 10px;

}

.search-bar input:focus{
    width: 100%;

}

.search-bar input::placeholder{
    color: transparent;
}

.title-search img{
    cursor: pointer;
    position:absolute;
    top:20%;
    right: 10%;
    width: 22px;
    height: 20px;
}

.container-list{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    overflow-y: auto;
}

.container-list input{
    appearance: none;
}


.container-list label{
    display: flex;
    flex-direction: row;
    background-color: var(--color-registered-container);
    border-radius: 10px;
    transition: 0.25s;
    align-items: center;
    padding: 0 3%;
}

.container-list label:hover{

    background-color: var(--color-registered-container-hover);
}

.container-list input:checked + label {
    background-color: black;
    color: white;
    cursor: default;
}

.container-list input:checked + label img {
    filter:invert(1);
}

.container-list p{

    margin-right: auto;

}


.container-list img{

    width: 40px;
    height: 40px;
    transition: 0.1s;
}

.container-list img:hover{
    cursor: pointer;
    filter:invert(1);

}

.button-edition{
    background: none;
    border: none;
    padding: 0;
}

.buttons{
    display: flex;
    flex-direction: row;
    width: 100%;
    box-sizing:border-box;
    padding-left: 10%;
    padding-right: 10%;
    padding-top:5%;
    background-color: white;
}

.buttons input{
    cursor: pointer;
    color:white;
    font-weight: 500;
    border-radius: 10px;
    border: 1px solid black;
}

.button-add{
    display: flex;
    flex: 1;
    padding: 10px 0;
}

.buttons-cancel-save{
    display: flex;
    padding: 10px 5px;
    flex-direction: row;
    justify-content: space-evenly;
    column-gap: 20px;
    flex:1;
}

.buttons-cancel-save input{
    width: 100%;
    padding: 10px 5px;
    border-radius: 20px;
    border: 1px solid #ccc;
    transition: all 0.2s ease-in-out;
    font-size: 1rem;
}

.button-add input{
    width: 100%;
    padding: 10px 5px;
    border-radius: 20px;
    border: 1px solid #ccc;
    transition: all 0.2s ease-in-out;
    font-size: 1rem;
}


.buttons-cancel-save a:first-child input:hover{
    background-color: var(--bg-color-red-light);
}

.buttons-cancel-save a:last-child input:hover {
    background-color: var(--bg-color-catalogo);
}

.button-add input:hover {
    background-color: var(--bg-color-catalogo);
}

.cancel-input{
    background-color: var(--cancel-color);
}

.save-input{
    background-color: var(--save-color);
}

.add-input{

    background-color: var(--add-color);

}
nav {
    width: 100px;
    background-color: var(--bg-color-dark-blue);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    position: fixed;
}

.nav-text {
    display: none;
}

.nav-links .libros img,
.nav-links .categorias img,
.nav-links .editoriales img,
.nav-links .autores img{
    width: 80% !important;
    height: 80% !important;
    object-fit: contain !important;
}

.nav-users {
    order: 4 !important;
}
.nav-resenias {
    order: 2 !important;
}
.nav-pedidos {
    order: 3 !important;
}
.nav-pagos {
    order: 5 !important;
}
.nav-perfil {
    order: 1 !important;
}

.nav-links .users,
.nav-links .resenias,
.nav-links .pedidos,
.nav-links .payments,
.nav-links .catalogo,
.nav-links .carrito,
.nav-links .home,
.nav-links .user,
.nav-links .libros,
.nav-links .categorias,
.nav-links .editoriales,
.nav-links .autores {
    width: 60px !important;
    height: 60px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

nav > a .home {
    width: 60px !important;
    height: 60px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px !important;
}

@media (min-width: 770px) {
    main{
        flex-direction: column;
    }
    
    body{
        flex-direction: column;
        font-size: 1.2rem;
    }

    .search-bar{
        display: flex;
        position: relative;
        width: 70%;
        margin-left:auto;
    }

    input{
        font-size: 1.2rem;
    }

    .search-bar input::placeholder{
        color: gray;
    }

    nav > a {
        margin-top:10px;
        width: 75px !important;
        height: 1px !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
    }

    .title-search img{
        top:16%;
        right: 1%;
        width: 42px;
        height: 34px;
    }

    .container-list label{
        padding: 0 1%;
    }

    .buttons{
        padding-right: 0;
    }
    
    .buttons input{
        width: 200px;
        border-radius: 20px;
    }

    .buttons-cancel-save{
        justify-content: end;
    }

    .container-registered{
        margin: 5%;
        display: flex;
        flex-direction: column;
        height: 90vh;
    }

    .container-registered{
        height: 70vh;
    }

    nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 80px;
        display: flex !important;
        flex-direction: row !important;
        align-items: center !important;
        justify-content: space-between !important;
        padding: 0 30px;
        background-color: var(--bg-color-dark-blue);
        z-index: 1000;
        margin: 0;
    }

    nav > a:first-child,
    nav .home {
        margin-right: auto !important;
        margin-bottom: 0 !important;
        display: flex !important;
    }

    .nav-links {
        flex: 1 !important;
        display: flex !important;
        flex-direction: row !important;
        align-items: center !important;
        justify-content: flex-end !important;
        gap: 33px;
        margin: 0 !important;
    }

    .nav-perfil {
        order: 999 !important;
        margin-left: 10px !important;
        margin-right: 40px;
        display: flex !important;
        align-items: center !important;
        position: relative !important;
    }

    .nav-links > li:not(.nav-perfil) img,
    .nav-links > li:not(.nav-perfil) .varios-icon {
        display: none !important;
    }

    .nav-perfil button,
    .nav-perfil .user {
        background: transparent !important;
        border: none !important;
        padding: 0 !important;
        display: flex !important;
        align-items: center !important;
        width: auto !important;
        height: auto !important;
    }

    .nav-perfil img,
    .nav-perfil .user-icon {
        display: block !important;
        width: 45px !important;
        height: 45px !important;
        border-radius: 50%;
        object-fit: contain !important;
        visibility: visible !important;
        opacity: 1 !important;
    }

    .nav-text {
        display: inline-block !important;
        font-size: 16px;
        color: white;
        font-weight: bold;
        white-space: nowrap;
    }

    .nav-links li {
        width: auto !important;
        height: auto !important;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        padding: 0 !important;
    }


}