@import url("./global.css");

.body-container {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

main {
  background-color: var(--lighter-grey);
  padding: 0;
  flex: 1;
}

.filtros {
  display: none;
}

.search-box {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.search-box input {
  flex-grow: 0;
  padding: 8px;
  border: 1px solid black;
  border-radius: 10px;
  width: 50%;
}

.search-box input::placeholder {
  color: transparent;
}

.pago-container {
  background-color: white;
  padding: 10px 1px;
  text-align: left;
  width: 80%;
  height: 60%;
  max-width: none;
  max-height: none;
  justify-self: center;
  border-radius: 20px;
  padding: 20px;
  margin: 20px;
  margin-top: 50px;
}

.pago-container h3 {
  font-size: 50px;
  margin: 5px;
  font-weight: 600;
  word-wrap: break-word;
}

.resumen-compra p {
  font-size: 22px;
  color: var(--color-text-dark-grey);
}

.espacio {
  display: none;
}

.input-direccion {
  width: 350px;
  height: 30px;
}

.costo {
  font-size: 22px;
  font-weight: bold;
  color: var(--color-text-dark-grey);
}

.c2 {
  flex: 1;
  display: flex;
}

.botones-direccion {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 10px;
}

.btn-direccion,
.btn-realizar-pedido {
  border-radius: 10px;
  width: 180px;
  height: 60px;
  font-size: 20px;
  color: white;
  cursor: pointer;
  border:none;
}

.btn-direccion {
  background-color: var(--bg-color-dark-blue);
  border-color: var(--bg-color-dark-blue);
}

.btn-realizar-pedido {
  background-color: var(--color-title-dark-blue);
  border-color: var(--color-title-dark-blue);
}

@media (min-width: 770px) {
  .body-container {
    display: flex;
    flex-direction: column;
  }

  .catalogo-container {
    background-color: var(--lighter-grey);
    display: flex;
    gap: 20px;
    align-items: flex-start;
  }

  .sidebar {
    width: 250px;
    padding: 30px;
    background-color: white;
  }

  .pago-container {
    background-color: white;
    padding: 10px 1px;
    text-align: left;
    width: 90%;
    height: 700px;
    justify-self: center;
    border-radius: 20px;
    padding: 20px;
    margin: 50px;
  }
  .filtros {
    display: block;
  }

  .search-box input::placeholder {
    color: black;
  }

  .input-direccion {
    width: 1400px;
    height: 40px;
  }

  .search-box {
    display: flex;
    margin-bottom: 20px;
    justify-content: flex-start;
  }

  .search-box input {
    width: 100%;
  }

  .search-filtros {
    display: none;
  }

  .filtros {
    margin-bottom: 25px;
  }

  .filtros h2 {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
  }

  .filtros label {
    display: block;
    margin-bottom: 5px;
    font-size: 0.9em;
    color: #555;
  }

  .libros-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .espacio {
    color: white;
  }

  .options-lookup {
    padding: 0px;
  }

  .btn-direccion,
  .btn-realizar-pedido {
    border-radius: 10px;
    width: 200px;
    height: 50px;
    font-size: 20px;
    color: white;
    cursor: pointer;
  }

  .btn-realizar-wrapper {
    text-align: right;
    margin-top: 20px;
    margin-right: 30px;
  }

  .botones-direccion {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
