@import url("./global.css");


.body-container {
    display: flex;
    flex-direction: row;
    min-height: 100vh;

}

nav {
    width: 100px;
    background-color: var(--bg-color-dark-blue);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    position: fixed;
    padding:0;
    margin:0;
}

main {
    flex: 1;
    margin-left: 100px;
    background-color: var(--lighter-grey);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.container-add-edition {
    background-color: white;
    width: 80%;
    max-width: 700px;
    border-radius: 30px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
    padding: 0px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-container h1 {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 2.2rem;
    text-align: center;
    color: #222;
}

form {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    width: 100%;
}

form div {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

form label {
    font-weight: 500;
    font-size: 1.1rem;
}

form input,
form select {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    transition: all 0.2s ease-in-out;
    font-size: 1rem;
}

form input:focus,
form select:focus {
    border-color: var(--add-color);
    outline: none;
    box-shadow: 0 0 5px rgba(66, 99, 170, 0.3);
}

form button {
    align-self: flex-end;
    width: 40%;
    border: none;
    background-color: var(--bg-color-green);
    color: white;
    border-radius: 20px;
    padding: 8px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.3s;
}

form button:hover {
    background-color: rgb(39, 187, 147);
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

.product-image {
    width: 60%;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    object-fit: cover;
}

.container-icon-add-edition {
    cursor: pointer;
    background-color: var(--bg-color-dark-blue);
    border-radius: 8px;
    padding: 6px;
}

.container-icon-add-edition img {
    width: 30px;
    filter: invert(1);
}

.buttons-cancel-add-edition {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin-top: 30px;
}

.delete-button-container{
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    margin-top: 30px;
}

.cancel-input,
.add-edition-input,
.delete-button-input {
    font-weight: 500;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    padding: 10px 30px;
    color: white;
    transition: 0.3s;
}

.delete-button-input{
    background-color: black;
}

.cancel-input {
    background-color: var(--bg-color-dark-red);
}

.add-edition-input {
    background-color: var(--color-text-blue);
}

.cancel-input:hover {
    background-color: var(--bg-color-red-light);
}

.add-edition-input:hover {
    background-color: var(--bg-color-catalogo);
}

.delete-button-input:hover{
    background-color: var(--lighter-grey);
}

.label-input-imagen::file-selector-button{

    background-color: black;
    color:white;
    border:none;
    border-radius: 10px;
    padding:4px;
    cursor:pointer;

}

#input-foto{
    display:none;
}

.error-alert{
    background-color: var(--bg-color-error);
    color: var(--color-error-text);
    padding: 15px;
    border-radius: 20px;
    margin-bottom: 15px;
    border: 1px solid #f5c6cb;
    font-weight: 700;
    font-size: 1.2rem;
    margin:15px;
    text-align: center;
}

.nav-users {
    order: 4 !important;
}
.nav-resenias {
    order: 2 !important;
}
.nav-pedidos {
    order: 3 !important;
}
.nav-pagos {
    order: 5 !important;
}
.nav-perfil {
    order: 1 !important;
}

.nav-links .users,
.nav-links .resenias,
.nav-links .pedidos,
.nav-links .payments,
.nav-links .catalogo,
.nav-links .carrito,
.nav-links .home,
.nav-links .user,
.nav-links .libros,
.nav-links .categorias,
.nav-links .editoriales,
.nav-links .autores {
    width: 60px !important;
    height: 60px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

nav > a .home {
    width: 60px !important;
    height: 60px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px !important;
}

nav {
    width: 100px;
    background-color: var(--bg-color-dark-blue);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
}

@media (min-width: 770px) {
    body {
        font-size: 1.4rem;
    }

    nav {
        width: 100%;
        height: 80px;
        flex-direction: row !important;
        justify-content: space-between !important;
        align-items: center !important;
        padding: 0 30px !important;
        position: fixed !important;
        top: 0;
        left: 0;
        z-index: 999;
    }

    nav > a:first-child,
    nav .home {
        margin-right: auto !important;
        margin-bottom: 0 !important;
        display: flex !important;
    }

    .nav-links {
        flex: 1 !important;
        display: flex !important;
        flex-direction: row !important;
        justify-content: flex-end !important;
        align-items: center !important;
        gap: 25px !important;
    }

    .nav-links li {
        width: auto !important;
        height: auto !important;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
    }

    .nav-links > li:not(.nav-perfil) img,
    .nav-links > li:not(.nav-perfil) .varios-icon {
        display: none !important;
    }

    /* Perfil */
    .nav-perfil {
        order: 999 !important;
        display: flex !important;
        margin-right: 30px;
        align-items: center !important;
        position: relative !important;
    }

    .nav-perfil img,
    .nav-perfil .user-icon {
        display: block !important;
        width: 45px !important;
        height: 45px !important;
        border-radius: 50%;
        object-fit: contain !important;
    }

    .nav-text {
        display: inline-block !important;
        font-size: 16px !important;
        font-weight: bold !important;
        color: white !important;
        white-space: nowrap !important;
    }

    main {
        margin-left: 0 !important;
        margin-top: 80px !important;
    }

    .body-container {
        flex-direction: column !important;
    }

    .c2 {
        flex: 1;
        display: flex;
    }

    .general-container {
        display: flex;
        flex-direction: column;
        width: 80%;
    }

    .libro-container {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    .container-add-edition {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        background-color: white;
        width: 100%;
        max-width: none;
        border-radius: 30px;
        box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
        padding: 50px;
        gap: 60px;
    }

    .image-container {
        width: 35%;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
    }

    .form-add-edition {
        width: 70%;
        display: flex;
        flex-direction: column;
        row-gap: 25px;
        box-sizing: border-box;
    }

    .form-add-edition input{
        box-sizing: border-box;
    }

    .form-add-edition div{
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        align-items: center;
        gap: 10px;

    }

    .form-add-edition div:last-child {
        display: grid;
        grid-template-columns:3fr 1fr 1fr;
        align-items: center;
        gap: 10px;
    }

    .form-add-edition label {
        text-align: right;
    }

    .seleccionar-libro {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .btn-seleccionar {
        width: 100%;
    }

    .form-add-edition .buttons-cancel-add-edition {
        display: flex;
        flex-direction: row;
        justify-content: end;
        margin-top: 20px;
    }

    .buttons-cancel-add-edition a{
        width: 100%;
        box-sizing: border-box;
        grid-column: 2 / 3;
    }

    .add-edition-input{
        grid-column: 3 / 4;
        width: 100%;
    }

    .cancel-input{
        width: 100%;
    }

    .delete-button-input{
        width: 200px;
    }

}
