

:root{

    --color-registered-container:#E3E3E3;
    --color-registered-container-hover:#ABABAB;
    --cancel-color:#C41818;
    --save-color:#0E1AA8;
    --add-color:#4263AA;
}

body{
    margin:0;
    padding: 0;
    font-size: 1.3rem;
    font-weight: 700;
}

main{
    display: flex;
    background-color: white;
    height: auto;
    min-height: 100vh;
}

input{
    font-size: 1.1rem;
}

.container-registered{
    margin: 5%;
    display: flex;
    flex-direction: column;
    height: 90vh;
}

.title-search{
    display: flex;
    column-gap: 10px;
    align-items: center;
}

.search-bar{
    display: flex;
    position: relative;
    width: 100%;
}

.search-bar input{
    cursor: pointer;
    width: 30%;
    font-size: 1.3rem;
    margin-left: auto;
    border-radius: 30px;
    transition: width 0.3s ease-in-out;
    padding: 10px;

}

.search-bar input:focus{
    width: 100%;
    
}

.search-bar input::placeholder{
    color: transparent;
}

.title-search img{
    cursor: pointer;
    position:absolute;
    top:20%;
    right: 10%;
    width: 22px;
    height: 20px;
}

.container-list{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    overflow-y: auto;
}

.container-list input{
    appearance: none;
}


.container-list label{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    background-color: var(--color-registered-container);
    border-radius: 10px;
    transition: 0.25s;
    align-items: center;
    padding: 0 3%;
}

.container-list label:hover{

    background-color: var(--color-registered-container-hover); 
}

.container-list input:checked + label {
  background-color: black;
  color: white;
  cursor: default;
}

.container-list input:checked + label img {
  filter:invert(1);
}

.container-list p{

    margin-right: auto;
    
}


.container-list img{

    width: 40px;
    height: 40px;
    transition: 0.1s;   
}

.container-list img:hover{
    cursor: pointer;
    filter:invert(1);
    
}

.buttons{
    display: flex;
    flex-direction: row;
    width: 100%;
    box-sizing:border-box;
    padding-left: 10%;
    padding-right: 10%;
    padding-top:5%;
    background-color: white;
}

.buttons input{
    cursor: pointer;
    color:white;
    font-weight: 500;
    border-radius: 10px;
    border: 1px solid black;
}

.button-add{
    display: flex;
    flex: 1;
    padding: 10px 0;
}

.buttons-cancel-save{
    display: flex;
    padding: 10px 5px;
    flex-direction: row;
    justify-content: space-evenly;
    column-gap: 20px;
    flex:1;
}

.buttons-cancel-save input{
    width: 100%;
    padding: 10px 5px;
    border-radius: 20px;
    border: 1px solid #ccc;
    transition: all 0.2s ease-in-out;
    font-size: 1rem;
}

.button-add input{
    width: 100%;
    padding: 10px 5px;
    border-radius: 20px;
    border: 1px solid #ccc;
    transition: all 0.2s ease-in-out;
    font-size: 1rem;
}

    
.buttons-cancel-save a:first-child input:hover{
    background-color: var(--bg-color-red-light);
}

.buttons-cancel-save a:last-child input:hover {
    background-color: var(--bg-color-catalogo);
}

.button-add input:hover {
    background-color: var(--bg-color-catalogo);
}

.cancel-input{
    background-color: var(--cancel-color);
}

.save-input{
    background-color: var(--save-color);
}

.add-input{

    background-color: var(--add-color);

}

@media (min-width: 770px) {
    
    main{
        flex-direction: column;
    }
    body{
        flex-direction: column;
        font-size: 1.2rem;
    }

    .search-bar{
        display: flex;
        position: relative;
        width: 70%;
        margin-left:auto;
    }

    input{
        font-size: 1.2rem;
    }

    .search-bar input::placeholder{
        color: gray;
    }

    .title-search img{
        top:16%;
        right: 1%;
        width: 42px;
        height: 34px;
    }

    .container-list label{
        padding: 0 1%;
    }

    .buttons input{
        width: 200px;
        border-radius: 20px;
    }

    .buttons-cancel-save{
        justify-content: end;
    }

    .container-registered{
        margin: 5%;
        display: flex;
        flex-direction: column;
        height: 90vh;
    }

    .container-registered{
        height: 70vh;
    }



}