@import url("./global.css");

body {
    padding: 0;
    margin: 0;
}

.container-list input[type="radio"] {
    display: none;
}

.body-container {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

.c1 {
    flex-shrink: 0;
}

main {
    background-color: var(--lighter-grey);
    padding: 20px;
    flex: 1;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.container-autores {
    background: white;
    width: 90%;
    max-width: 170vh;
    border-radius: 30px;
    margin: 5px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    height: 60vh;
}

.title-search {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.title-search h1 {
    text-align: center;
    font-size: 32px;
}

.search-bar {
    display: flex;
    position: relative;
    width: 50%;
    margin: auto;
}

.search-bar input {
    width: 100%;
    border-radius: 30px;
    padding: 10px 45px 10px 15px;
    font-size: 1.2rem;
}

.search-bar label img {
    position: absolute;
    right: 15px;
    top: 25%;
    width: 22px;
}

.container-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.container-list label {
    background-color: var(--lighter-grey);
    padding: 18px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-list label p {
    font-size: 18px;
    margin: 0;
}

.container-list label img {
    width: 26px;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

.cancel-input,
.save-input {
    padding: 12px 40px;
    border-radius: 25px;
    border: none;
    font-size: 18px;
    color: white;
    cursor: pointer;
}

.cancel-input {
    background-color: var(--bg-color-dark-red);
}

.save-input {
    background-color: var(--bg-color-dark-blue);
}

.nav-text {
    display: none;
}

.nav-users {
    order: 4 !important;
}
.nav-resenias {
    order: 2 !important;
}
.nav-pedidos {
    order: 3 !important;
}
.nav-pagos {
    order: 5 !important;
}
.nav-perfil {
    order: 1 !important;
}

.nav-links .users,
.nav-links .resenias,
.nav-links .pedidos,
.nav-links .payments,
.nav-links .catalogo,
.nav-links .carrito,
.nav-links .home,
.nav-links .user {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    width: 60px !important;
    height: 60px !important;
}

nav > a .home {
    width: 60px !important;
    height: 60px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px !important;
}

@media (min-width: 770px) {
    .body-container {
        flex-direction: column;
    }

    .container-autores {
        width: 170vh;
    }

    .search-bar {
        width: 40%;
    }

    .nav-links {
        gap: 25px !important;
    }

    .nav-text {
        display: inline-block !important;
        color: white;
        font-size: 18px;
        font-weight: bold;
        margin-left: 8px;
    }

    .catalogo-icon,
    .users-icon,
    .payments-icon,
    .pedidos-icon {
        display: none;
    }

    .catalogo,
    .users,
    .payments,
    .pedidos {
        width: auto;
        display: flex;
        align-items: center;
    }

    .nav-users {
        order: 1 !important;
    }
    .nav-resenias {
        order: 2 !important;
    }
    .nav-pedidos {
        order: 3 !important;
    }
    .nav-pagos {
        order: 4 !important;
    }
    .nav-perfil {
        order: 5 !important;
    }
}
