@import url("./global.css");

:root {
  --bg-color-users-gray: #d7d7d7;
  --bg-color-delete-account: #d00003;
  --bg-color-activate-deactivate-account: #001950;
}

body {
  font-size: 1.2rem;
  padding: 0;
  margin: 0;
}

.c1 {
  flex-shrink: 0;
}

.body-container {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

main {
  background-color: var(--lighter-grey);
  padding: 20px;
  flex: 1;
  min-height: 100vh;
}

.container-users {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 100%;
  margin: 2%;
  box-sizing: border-box;
}

.search-bar {
  display: flex;
  position: relative;
  width: 100%;
  margin-bottom: 15px;
}

.search-bar input {
  cursor: pointer;
  width: 30%;
  font-size: 1.3rem;
  margin-left: auto;
  border-radius: 30px;
  transition: width 0.3s ease-in-out;
  padding: 10px;
}

.search-bar input:focus {
  width: 100%;
}

.search-bar input::placeholder {
  color: transparent;
}

.title-search img {
  width: 100%;
}

.title-search img {
  cursor: pointer;
  position: absolute;
  top: 20%;
  right: 10%;
  width: 22px;
  height: 20px;
}

button {
  font-size: 1.2rem;
  color: white;
  border-radius: 20px;
  border: none;
  padding: 7px 10px;
  width: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

h1 {
  text-align: center;
}

.container-users-list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  background-color: white;
  width: 100%;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 20px;
  margin-bottom: 50px;
}

.container-user {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-auto-rows: auto;
  background-color: var(--bg-color-users-gray);
  border-radius: 20px;
  padding: 10px 0;
}

.container-user p {
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.container-user p {
  margin: 5px 0;
}

.container-image-user {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-image-user img {
  width: 50px;
  grid-column: 1 / 2;
  grid-row-gap: 1 / 3;
}

.user-data {
  grid-column: 2 / 3;
  grid-row-gap: 1 / 2;
}

.buttons-user {
  grid-column: 1 / 3;
  grid-row-gap: 2 / 3;
  display: flex;
  justify-content: space-evenly;
}

.button-deactivate-account {
  background-color: var(--bg-color-activate-deactivate-account);
}

.button-delete-account {
  background-color: var(--bg-color-delete-account);
}

.user-data-headers {
  display: none;
}

@media (min-width: 770px) {
  main {
    flex-direction: column;
  }

  .body-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .container-user {
    display: flex;
    padding: 10px 7px;
  }

  .container-users {
    margin: 0;
    width: 90%;
    margin: 0 auto;
  }

  .container-image-user {
    flex: 1;
  }

  .user-data {
    display: grid;
    justify-content: start;
  }

  .user-data {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: start;
    flex: 7;
    align-items: center;
    justify-content: center;
  }

  .user-data span {
    display: none;
  }

  .buttons-user {
    display: flex;
    flex-direction: column;
    flex: 2;
    row-gap: 10px;
  }

  button {
    width: auto;
    border-radius: 10px;
    display: flex;
    justify-content: center;
  }

  .container-image-user img {
    width: 80px;
  }

  .user-data-headers {
    display: flex;
  }

  p {
    text-align: center;
  }

  .user-data-headers p:first-child {
    flex: 1.3;
  }

  .user-data-headers p:nth-child(2) {
    flex: 2;
  }

  .user-data-headers p:nth-child(3) {
    flex: 2;
  }

  .user-data-headers p:nth-child(4) {
    flex: 2;
  }

  .user-data-headers p:last-child {
    flex: 2.3;
  }

  .search-bar input {
    font-size: 1.1rem;
  }

  .title-search img {
    cursor: pointer;
    position: absolute;
    top: 25%;
    right: 1%;
    width: 22px;
    height: 20px;
  }

  .search-bar input::placeholder {
    color: gray;
  }

  .search-bar input:focus {
    width: 70%;
  }
}
