@import url('./global.css');


body{
    --bg-color-yellow:#F9DB99;
    --bg-color-blue:#7EA9E2;
    --bg-color-green:#67CCB4;
}

.body-container {
    display: flex;
    flex-direction: row; 
    min-height: 100vh;
}

main{
    background-color: var(--lighter-grey);
    padding: 0;
    flex: 1;
    display: flex; 
    justify-content: center; 
}   

.c2 {
    flex: 1; 
    display: flex;
    justify-content: center;
}

.pedidos-container{
    background-color: white;
    width: 80%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 30px;
}

.pedidos-title{
    font-size: 30px;
    margin: 30px 0;
    text-align: center;
}

.lista-pedidos {
    display: flex;
    flex-direction: column; 
    gap: 15px; 
    width: 90%;
}

.pedido1, .pedido2, .pedido3 {
    background-color: white;
    border-radius: 12px;
    padding: 10px 20px;
    gap: 10px;
    display: flex;
    flex-direction: row;
}

.pedido1{
    background-color: var(--bg-color-yellow);
}

.pedido2{
    background-color: var(--bg-color-blue);
}

.pedido3{
    background-color: var(--bg-color-green);
}

.pedido-info ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 16px;
    color: black;
    line-height: 1.1rem;
}

.pedido-info ul li {
    display: flex; 
    white-space: nowrap; 
    gap: 5px;
    margin-bottom: 5px; 
}

.pedido-info ul li span {
    font-weight: bold;
    color: black;
}

.pedido-btn {
    display: flex;
    justify-content: flex-end; 
    width: 50%;
}

.ver-detalles-btn {
    padding: 10px 10px;
    border-radius: 10px;
    background-color: white; 
    color: black;
    font-size: 16px;
    text-decoration: none; 
    cursor: pointer;
    text-align: center;
    align-self: center;
    transition: background-color 0.3s ease;
}

.ver-detalles-btn:hover {
    background-color: var(--lighter-grey);
}


@media (min-width: 770px) {

    .body-container {
        display: flex;
        flex-direction: column; 
    }

    .lista-pedidos {
        width: 90%; 
    }

    .pedido1, .pedido2, .pedido3 {
        flex-direction: row; 
        justify-content: space-between; 
        align-items: center;
    }

    .pedido-info{
        display: flex;
        flex-direction: column;
    }

    .pedido-info ul {
        display: flex; 
        flex-direction: row; 
        gap: 30px; 
        flex-wrap: wrap; 
    }

    .pedido-btn {
        width: auto; 
    }

}