
@import url('./global.css');

.body-container {
    display: flex;
    flex-direction: row; 
    min-height: 100vh;
}

main{
    background-color: var(--lighter-grey);
    padding: 0;
    flex: 1;
    justify-items: center;
}

.c2{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edicion-title{
    font-size: 30px;
    color: var(--color-text-dark-grey);
    margin-bottom: 30px; 
    margin-top: 30px;
}

form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.form-inputs{
    width: 100%;
}

.form-individual {
    width: 100%;
    margin-bottom: 15px; 
}

.edicion-form label {
    display: none;
}

.edicion-form input {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 30px; 
    background-color: white;
    outline: none;
    font-size: 18px;
    color: var(--color-text-dark-grey);
    box-sizing: border-box;
}

.form-btns{
    display: flex;
    flex-direction: column; 
    justify-content: end;
    gap: 5px;
    align-self: end;
}

.edicion-btns{
   display: flex;
   flex-direction: column; 
}

.guardar-btn, .cerrar-sesion-btn{
    width: 100%; 
    padding: 8px;
    color: white;
    border: none;
    border-radius: 30px; 
    cursor: pointer;
    font-size: 20px;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.guardar-btn{
    background-color: var(--bg-color-light-purple);
}

.cerrar-sesion-btn{
    background-color: var(--bg-color-dark-blue);
}

.guardar-btn:hover {
    background-color: var(--bg-color-purple); 
}

.cerrar-sesion-btn:hover{
    background-color: var(--bg-color-dark-dark-blue);
}

@media (min-width: 770px) {

    .body-container {
        display: flex;
        flex-direction: column; 
    }

    .c2{
        background-color: white;
        margin: 30px;
        padding: 40px;
        border-radius: 30px;
    }

    .edicion-title{
        display: none;
    }

    .edicion-form{
        display: flex;
        flex-direction: column;
    }

    .edicion-form input{
        flex-grow: 0; 
        padding: 8px;
        border: 1px solid black;
        background-color: white;
        border-radius: 10px;
        margin-top: 0px;
        width: 80%;
    }

    .edicion-form label{
        display: block;
    }

    form.edicion-form {
        flex-direction: row; 
        align-items: flex-start; 
        gap: 40px;
        width: 90%;
    }

    .form-btns {
        width: 60%; 
        align-self: end;
    }

    .cerrar-sesion-btn{
        display: none;
    }

}


