:root{
    --bg-color-dark-blue: #001950;
    --bg-color-home-dark-grey: #38394B;

    --bg-color-mejor: #55A445;
    --bg-color-destacados: #C96439;
    --bg-color-catalogo: #3D75EE;

    --lighter-grey: #D9D9D9;
    --white-grey: #F2F2F2;
    --bg-color-login: #ECECEC;

    --color-text-dark-grey: #38394B;
    --color-title-dark-blue: #2A3183;
    --color-text-blue: #3A42A4;

    --bg-color-light-purple: #8C90CA;
    --bg-color-purple: #837cb8;
    --bg-color-grey-purple: #5B5F8C;

    --bg-color-dark-dark-blue: #020742;

    --bg-color-dark-red: #D00003;

    --bg-color-hover-selection:#e5e5e5;
}

body{
    background-color: var(--bg-color-dark-blue);
}

