@import url('./global.css');

.catalogo-container{
    background-color: var(--lighter-grey);
    display: flex; 
    gap: 20px; 
    align-items: flex-start; 
}

.sidebar {
    width: 250px; 
    padding: 30px;
    background-color: white;
}

.search-box {
    display: flex;
    margin-bottom: 20px;
}

.search-box input {
    flex-grow: 1;
    padding: 8px;
    border: 1px solid black;
    border-radius: 10px;
}

.filtros {
    margin-bottom: 25px;
}

.filtros h2 {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

.filtros label {
    display: block; 
    margin-bottom: 5px;
    font-size: 0.9em;
    color: #555;
}

.libros-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px; 
    padding: 20px;
}

.libro {
    background-color: white;
    padding: 10px 1px; 
    text-align: center;
    width: 200px; 
    height: 350px; 
    justify-self: center; 
}

.libro h3 {
    font-size: 1.2em; 
    margin: 5px; 
    font-weight: 600;
    word-wrap: break-word; 
}

.libro img {
    width: 100%;
    max-width: 150px; 
    height: auto;
    display: block; 
    margin-left: auto;
    margin-right: auto;
}


.libro p {
    font-size: 1em;
    color: var(--color-text-dark-grey); 
}

.libro .precio {
    font-weight: bold;
    font-size: 1.2em;
}

