
@import url('./global.css');

/** Pantalla Principal - no registrado**/

/**Main**/
main {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start; 
    padding: 50px 50px 0 50px;
    flex-grow: 1; 
    color: white; 
}

.content-container {
    max-width: 40%; 
    padding-right: 50px; 
    padding-top: 50px; 
}

.content-container h1 {
    font-size: 50px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 20px;
}

.content-container p {
    font-size: 20px;
    margin-bottom: 15px;
    max-width: 80%; 
    word-spacing: 2px;
}

.cover-container {
    flex: 1;
    height: 450px; 
    position: relative;
    right: -50px; 
}

.cover {
    width: 100%; 
    height: 100%; 
    object-fit: contain; 
}

/**Botones**/
.buttons-container {
    display: flex; 
    justify-content: center; 
    align-items: center;
    background-color: var(--lighter-grey); 
    padding: 30px 50px;
    gap: 30px; 
    margin-top: 40px; 
}

.btn {
    color: white;
    text-decoration: none; 
    font-size: 20px;
    font-weight: 700;
    padding: 15px 40px;
    border: none;
    border-radius: 30px; 
    cursor: pointer;
}

.btn:hover {
    transform: translateY(-4px);
}

.mejor-btn {
    background-color: var(--bg-color-mejor);
}

.destacados-btn {
    background-color: var(--bg-color-destacados);
}

.catalogo-btn {
    background-color: var(--bg-color-catalogo);
}

