@import url('./global.css');

.body-container {
    display: flex;
    flex-direction: row; 
    min-height: 100vh;
}

main{
    background-color: var(--lighter-grey);
    padding: 0;
    flex: 1;
}

.filtros{
    display: none;
}
    
.search-box {
    width: 100%; 
    display: flex; 
    justify-content: flex-end; 
}

.search-box input {
    flex-grow: 0; 
    padding: 8px;
    border: 1px solid black;
    border-radius: 10px;
    width: 50%; 
}

.search-box input::placeholder {
    color: transparent; 
}

.libros-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px; 
    padding: 20px;
}

.libro {
    background-color: white;
    padding: 10px 1px; 
    text-align: center;
    width: 200px; 
    height: 350px; 
    justify-self: center; 
    border-radius: 20px;
}

.libro h3 {
    font-size: 1.2em; 
    margin: 5px; 
    font-weight: 600;
    word-wrap: break-word; 
}

.libro img {
    width: 100%;
    max-width: 150px; 
    height: auto;
    display: block; 
    margin-left: auto;
    margin-right: auto;
}

.libro p {
    font-size: 1em;
    color: var(--color-text-dark-grey); 
}

.libro .precio {
    font-weight: bold;
    font-size: 1.2em;
}

.c2 {
    flex: 1; 
    display: flex; 
}

.options-lookup{
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.filtrar-btn{
    display: flex;
    flex-direction: row;
    width: 100px;
    height: 30px;
    background-color: white;
    border: none;
    padding: 15px;
    border-radius: 10px;
    text-decoration: none;
    color: black;
}

.search-filtros span{
    font-size: 20px;
    margin-left: 5px;
    align-self: center;
}

.search-filtros img{
    width: 20px;
    height: 20px;
    align-self: center;
}


@media (min-width: 770px) {
    .body-container {
        display: flex;
        flex-direction: column; 
    }

    .catalogo-container{
        background-color: var(--lighter-grey);
        display: flex; 
        gap: 20px; 
        align-items: flex-start; 
    }

    .sidebar {
        width: 250px; 
        padding: 30px;
        background-color: white;
    }

    .filtros{
        display: block;
    }

    .search-box input::placeholder {
        color: black;
    }

    .search-box {
        display: flex;
        margin-bottom: 20px;
        justify-content: flex-start; 
    }

    .search-box input {
        width: 100%; 
    }

    .search-filtros{
        display: none;
    }

    .filtros {
        margin-bottom: 25px;
    }

    .filtros h2 {
        font-size: 1.2em;
        font-weight: bold;
        margin-bottom: 10px;
        color: #333;
    }

    .filtros label {
        display: block; 
        margin-bottom: 5px;
        font-size: 0.9em;
        color: #555;
    }

    .libros-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

}