@import url('./global.css');

.body-container {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

main {
    background-color: var(--lighter-grey);
    padding: 0;
    flex: 1;
    display: flex;
    justify-content: center;
}

.info-libro {
    display:flex;
    flex-direction: right;
    align-items: right;
    justify-content: right;
    gap: 20%;
}



.producto-container {
    background-color: white;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    font-size: 1.2em;
    margin: 5px;
    font-weight: 600;
    word-wrap: break-word;
    gap: 40px;
}

.resenia-container {
    background-color: white;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}


.img-libro {
    width: 100%;
    max-width: 150px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    gap:20px;
}



.btn-agregar {
    background-color: var(--bg-color-dark-blue);
    color: white;
    border-color: var(--bg-color-dark-blue);
    border-radius: 10px;
    grid-column-start: 3;
    grid-column-end: 4;
    width: 200px;
    height: 40px;
    font-size: 20px;
    align-self: RIGHT;
}

.btn-ver {
    background-color: var(--bg-color-dark-blue);
    color: white;
    border-color: var(--bg-color-dark-blue);
    border-radius: 10px;
    width: 30px;
    height: 25px;
    font-size: 15px;
    align-self: left;
}

.btn-ocultar {
    background-color: var(--bg-color-dark-blue);
    color: white;
    border-color: var(--bg-color-dark-blue);
    border-radius: 10px;
    width: 60px;
    height: 25px;
    font-size: 15px;
    align-self: left;
}


@media (min-width: 770px) {

    .body-container {
        display: flex;
        flex-direction: column;
    }

    .producto-container {
        display: flex;
        flex-direction: column;
    }

    .resenia-container {
        display: flex;
        flex-direction: column;
    }


}