@import url('./global.css');

.nav-links li:nth-child(2) { 
    order: 5;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: center; 
    width: 100px; 
    padding: 15px 0;
    background-color: var(--bg-color-dark-blue);
}

.nav-links {
    list-style: none; 
    padding: 0;
    margin: 0;
    display: flex; 
    flex-direction: column;
    align-items: center; 
    gap: 50px;
}

.nav-btn {
    display: none;
}

.iniciar-sesion{
    display: block;
    text-decoration: none; 
    color: white; 
    font-weight: bold; 
    font-size: 20px;
    padding: 8px 15px;
    cursor: pointer;
}

.home {
    cursor: pointer;
    width: 60px; 
    height: 60px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-icon, .user-icon, .carrito-icon, .catalogo-icon, .pedidos-icon, .users-icon, .payments-icon {
    width: 60%; 
    height: 60%; 
    object-fit: contain;
}

.user {
    cursor: pointer;
    width: 70px; 
    height: 70px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.carrito {
    cursor: pointer;
    width: 60px; 
    height: 60px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.catalogo {
    cursor: pointer;
    width: 60px; 
    height: 60px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.pedidos {
    cursor: pointer;
    width: 60px; 
    height: 60px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.users{
    cursor: pointer;
    width: 60px; 
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.payments{
    cursor: pointer;
    width: 60px; 
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 770px) {
    
    .nav-links li:nth-child(2) { 
        order: 2;
    }

    .nav-links li:nth-child(3) { 
        order: 3;
    }

    nav {
        flex-direction: row;
        width: auto;
    }

    .nav-links {
        flex-direction: row;
        gap: 1px;
    }

    .nav-btn {
        display: block;
        text-decoration: none; 
        color: white; 
        font-weight: bold; 
        font-size: 20px;
        padding: 8px 15px;
        cursor: pointer;
    }

    .c-btn{
        background-color: var(--bg-color-catalogo);
        padding: 5px;
        border-radius: 20px;;
    }

    .home {
        background-color: var(--bg-color-home-dark-grey);
        border-radius: 40%;
        cursor: pointer;
        width: 40px; 
        height: 40px; 
        margin-right: 15px; 
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 25px;
    }

    .home-icon, .user-icon, .carrito-icon {
        width: 60%; 
        height: 60%; 
        object-fit: contain;
    }

    .user {
        width: 90px; 
        height: 90px; 
    }

    .carrito {
        width: 50px; 
        height: 50px; 
    }

    .catalogo{
        display: none;
    }

    .pedidos{
        display: none;
    }


}

